[Unit]
Description=Resource management daemon
After=wm_ready.service

[Service]
Type=simple
SmackProcessLabel=System::Privileged
ExecStart=/usr/bin/resourced
MemoryLimit=30M
Restart=on-failure
RestartSec=0

[Install]
WantedBy=multi-user.target
