[Unit]
Description=Logging Initialization
After=resourced.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/dbus-send --type=signal --system /Org/Tizen/ResourceD/Logging org.tizen.resourced.logging.LoggingInit

[Install]
WantedBy=graphical.target
