[Unit]
Description=Resource management daemon
After=tizen-system.target
Wants=tizen-system.target

[Service]
ExecStart=/usr/bin/resourced -s 1 -u 60
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
